---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
const pageTitle = "Home Page"
---
<html>
  <body>
    <Navbar/>

	<h1>{pageTitle}</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>