---
const pageTitle = "Home Page"
---
<html>
  <body>
    <a href="/">{pageTitle}</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>

	<h1>{pageTitle}</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>