---
const { align = 'center' } = Astro.props;
---

<div class={`content-container ${align}`}>
    <slot />
</div>

<style>
    .content-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .content-container.left {
        text-align: left;
    }

    .content-container.center {
        text-align: center;
    }

    .content-container.right {
        text-align: right;
    }

    @media (min-width: 768px) {
        .content-container {
            padding: 0 2rem;
        }
    }
</style> 